html {
  padding: 0;
  margin: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.title {
  text-align: center;
  font-size: 4rem;
  line-height: 1.15;
}
.bodyBox {
  display: flex;
}
.addClass {
  margin: 15px;
  padding: 15px;
}

.big-red-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
  color: white;
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  text-decoration: none;
  text-align: center;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-size: 4rem;
  margin: 0 auto;
}
